#board {
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	margin:  auto;
}

p {
	margin-bottom: 0px;
}

.square {
	width: 30%;
	background-color: white;
	padding: 30px 0;
	box-sizing: border-box;
	float:  left;
	font-size: 80px;
	border:  2px solid white;
	border-radius: 25%;
	color:  red;
}

.winning-square {
	background-color: green !important;
	color:  red !important;
}

#message {
	padding-bottom: 20px;
}

#reset-area.hidden {
	display: none;
}

.square:hover {
	/* transform:  scale(1.05);
	transition: ease-in; */
	background-color: green;
	color:  red;
}

.square.winning-square {
	transform: rotate(180deg);
	transition:  2s;
}

.rotate {
	transform: rotateY(360deg);
	transition: 2s;
}